@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject SignInManager<MVCBlog.Data.User> SignInManager
@inject Microsoft.Extensions.Options.IOptionsMonitor<MVCBlog.Business.BlogSettings> BlogSettings
<!DOCTYPE html>
@*<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @BlogSettings.CurrentValue.BlogName</title>
    <link rel="stylesheet" href="~/dist/combined.min.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="~/apple-touch-icon_192.png" sizes="192x192" />
    <meta name="theme-color" content="#2F5890">
    <meta name="msapplication-navbutton-color" content="#2F5890">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2F5890">
    <link rel="alternate" type="application/rss+xml" title="@BlogSettings.CurrentValue.BlogDescription" href="@this.Context.Request.Scheme://@this.Context.Request.Host@this.Context.Request.PathBase}/Blog/Feed" />
</head>
<body>
    <div class="container">
        <header>
            <a href="~/" class="banner d-print-none"></a>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom shadow-sm mb-3">
                <a class="navbar-brand" href="~/">Blog</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="" asp-controller="Administration" asp-action="Index" class="nav-link text-dark"><i class="fas fa-tools"></i></a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Feed"><i class="fas fa-rss"></i></a>
                        </li>
                    </ul>
                    <form class="form-inline" action="~/" method="get">
                        <input class="form-control mr-sm-2" type="search" name="search" placeholder="@Localizer["Search"]" aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">@Localizer["Search"]</button>
                    </form>
                </div>
            </nav>
        </header>
        <partial name="_CookieConsentPartial" />

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted text-center d-print-none">
        <div class="container">
            <a asp-area="" asp-controller="Privacy" asp-action="Index"><i class="fas fa-user-shield"></i></a>
            <a asp-area="" asp-controller="Privacy" asp-action="Index">@Localizer["Privacy"]</a>
            @if (!SignInManager.IsSignedIn(User))
            {
                if (BlogSettings.CurrentValue.NewUsersCanRegister)
                {
                    <text>|</text>
                    <a asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i></a>
                    <a asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
                }
                <text>|</text>
                <a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i></a>
                <a asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
            }
            else
            {
                <text>|</text>
                <a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user-cog"></i></a>
                <a asp-area="Identity" asp-page="/Account/Manage/Index">@Localizer["Settings"]</a>
                <text>|</text>
                <form style="display: inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Blog", new { area = "" })">
                    <button type="submit" class="btn btn-link" style="padding-left: 0;"><i class="fas fa-sign-out-alt"></i> @Localizer["Logout"]</button>
                </form>
            }
        </div>
    </footer>

    <script src="~/dist/combined.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>*@

<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>Demo Photography | Porto - Responsive HTML5 Template 7.5.0</title>	

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="/Porto/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRoboto+Slab:300,400,700" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/Porto/vendor/bootstrap/css/bootstrap.min.css">		<link rel="stylesheet" href="/Porto/vendor/fontawesome-free/css/all.min.css">		<link rel="stylesheet" href="/Porto/vendor/animate/animate.min.css">		<link rel="stylesheet" href="/Porto/vendor/simple-line-icons/css/simple-line-icons.min.css">		<link rel="stylesheet" href="/Porto/vendor/owl.carousel/assets/owl.carousel.min.css">		<link rel="stylesheet" href="/Porto/vendor/owl.carousel/assets/owl.theme.default.min.css">		<link rel="stylesheet" href="/Porto/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="/Porto/css/theme.css">
		<link rel="stylesheet" href="/Porto/css/theme-elements.css">
		<link rel="stylesheet" href="/Porto/css/theme-blog.css">
		<link rel="stylesheet" href="/Porto/css/theme-shop.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="/Porto/vendor/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="/Porto/vendor/rs-plugin/css/layers.css">
		<link rel="stylesheet" href="/Porto/vendor/rs-plugin/css/navigation.css">
		
		<!-- Demo CSS -->
		<link rel="stylesheet" href="/Porto/css/demos/demo-photography.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="/Porto/css/skins/skin-photography.css"> 

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/Porto/css/custom.css">

		<!-- Head Libs -->
		<script src="/Porto/vendor/modernizr/modernizr.min.js"></script>

	</head>
	<body class="loading-overlay-showing" data-loading-overlay data-plugin-options="{'hideDelay': 500}">
		<div class="loading-overlay">
			<div class="bounce-loader">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>

		<div class="body blog-bg">
			<header id="header" class="header-full-width" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 0, 'stickySetTop': '0'}">
				<div class="header-body">
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column">
								<div class="header-row">
									<div class="header-logo">
										<a href="demo-photography.html">
											<img alt="Porto" width="184" height="48" src="/Porto/img/demos/photography/logo-photography.png">
										</a>
									</div>
								</div>
							</div>
							<div class="header-column justify-content-end">
								<div class="header-row">
									<div class="header-nav">
										<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
											<partial name="_Navbar" />
										</div>
										<ul class="header-social-icons social-icons d-none d-sm-block">
											<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
											<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
											<li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
										</ul>
										<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
											<i class="fas fa-bars"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
            <partial name="_CookieConsentPartial" />
			<div role="main" class="main" id="main">
				
				@RenderBody()

			</div>
            <partial name="_Footer" />
		</div>

		<!-- Vendor -->
		<script src="/Porto/vendor/jquery/jquery.min.js"></script>		<script src="/Porto/vendor/jquery.appear/jquery.appear.min.js"></script>		<script src="/Porto/vendor/jquery.easing/jquery.easing.min.js"></script>		<script src="/Porto/vendor/jquery.cookie/jquery.cookie.min.js"></script>		<script src="/Porto/vendor/popper/umd/popper.min.js"></script>		<script src="/Porto/vendor/bootstrap/js/bootstrap.min.js"></script>		<script src="/Porto/vendor/common/common.min.js"></script>		<script src="/Porto/vendor/jquery.validation/jquery.validate.min.js"></script>		<script src="/Porto/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>		<script src="/Porto/vendor/jquery.gmap/jquery.gmap.min.js"></script>		<script src="/Porto/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>		<script src="/Porto/vendor/isotope/jquery.isotope.min.js"></script>		<script src="/Porto/vendor/owl.carousel/owl.carousel.min.js"></script>		<script src="/Porto/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>		<script src="/Porto/vendor/vide/jquery.vide.min.js"></script>		<script src="/Porto/vendor/vivus/vivus.min.js"></script>		<script src="/Porto/vendor/jquery-mousewheel/jquery.mousewheel.min.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="/Porto/js/theme.js"></script>
		
		<!-- Current Page Vendor and Views -->
		<script src="/Porto/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>		<script src="/Porto/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="/Porto/js/views/view.contact.js"></script>

		<!-- Demo -->
		<script src="/Porto/js/demos/demo-photography.js"></script>
		
		<!-- Theme Custom -->
		<script src="/Porto/js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="/Porto/js/theme.init.js"></script>




		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->

        @RenderSection("Scripts", required: false)
	</body>
</html>




